* {
  box-sizing: border-box;
  font-family: 'Barlow Semi Condensed', sans-serif;
}

.ticket-manager {
  width: 100%;
  height: 100vh;
  flex-direction: column;
  display: flex;
  align-items: center;
}

.ticket-header {
  width: 800px;
  justify-content: space-between;
  display: flex;
  margin-top: 120px;
}

.ticket-header button {
  padding: 10px;
  background-color: rgb(31, 31, 31);
  border: 2px solid #994d00;
  border-radius: 12px;
  color: #aaaaaa;
  font-size: 20px;
}

.ticket-header button:hover {
  box-shadow:
    0 2px 0 #000,
    0 6px 10px rgba(0, 0, 0, 0.6);
  transform: translateY(-1px);
  transition: all 0.2s ease;
}

.ticket-header h2 {
  font-weight: 500;
  font-size: 40px;
  color: #9ca3af;
}

.ticket-list-container {
  overflow-y: hidden;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ticket-grid::-webkit-scrollbar {
  display: none;
}

.filters {
  padding: 15px 4px;
  display: flex;
  width: 800px;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 18px;
  box-shadow:
    0 2px 0 #000,
    0 6px 10px rgba(0, 0, 0, 0.6);
  border: 2px solid #616161;
}

.filters input {
  width: 40%;
}

.filters select {
  width: 20%;
}

.filters input,
.filters select {
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #616161;
  background: #1e1e1e;
  color: #616161;
}

.filters input:focus,
.filters select:focus {
  outline: 1px solid #616161;
  outline-offset: 2px;
  transform: translateY(-3px);
}

.filters input:hover,
.filters select:hover {
  background-color: #363636aa;
  box-shadow:
    0 2px 0 #000,
    0 6px 10px rgba(0, 0, 0, 0.6);
  transform: translateY(-1px);
  transition: all 0.2s ease;
}

.ticket-grid {
  height: 100vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
  padding-top: 10px;
}

.ticket-card {
  margin: 5px 0;
  border: 2px solid #616161;
  background: #2b2b2b;
  padding: 10px;
  color: white;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  z-index: 50;
}

.ticket-card:hover {
  background-color: #4d4d4d;
  box-shadow:
    0 2px 0 #000,
    0 6px 10px rgba(0, 0, 0, 0.6);
  transform: translateY(-1px);
  transition: all 0.2s ease;
}

.ticket-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.ticket-card-header h3 {
  font-weight: 200;
  font-size: 22px;
}

.ticket-card .status {
  padding: 3px 7px;
  border-radius: 7px;
  height: fit-content;
  color: white;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ticket-card .desc {
  min-height: 30px;
  width: 700px;
  font-weight: 100;
  font-size: 15px;
  color: #aaaa;
}

.ticket-bottom {
  margin-top: 2px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.ticket-bottom p {
  border-radius: 5px;
  font-size: 12px;
}

.tags {
  display: flex;
  gap: 10px;
}

.priority {
  padding: 3px 7px;
  border-radius: 7px;
  height: fit-content;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.priority.low {
  color: #a1a7ff;
  border: 1px solid #a1a7ff;
  background-color: rgba(161, 167, 255, 0.3);
}

.priority.medium {
  color: orange;
  border: 1px solid orange;
  background-color: rgba(255, 166, 0, 0.3);
}

.priority.high {
  color: red;
  border: 1px solid red;
  background-color: rgba(255, 0, 0, 0.2);
}

.actions {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.actions button {
  background: #3a3a3a;
  border: none;
  color: #aaaa;
  padding: 3px 6px;
  border-radius: 6px;
  cursor: pointer;
  border: 1px solid #616161;
  font-weight: 500;
}

.actions .del {
  color: rgb(190, 65, 65);
}

.actions button:hover {
  background: rgb(31, 31, 31);
  box-shadow:
    0 2px 0 #000,
    0 6px 10px rgba(0, 0, 0, 0.6);
  transform: translateY(-1px);
  transition: all 0.2s ease;
}

@media (max-width: 830px) {
  .ticket-header {
    width: 90%;
  }
  .ticket-list-container {
    width: 95%;
  }

  .filters {
    padding: 15px 4px;
    width: 100%;
  }
  .ticket-card .desc {
    min-height: 30px;
    width: 90%;
  }
}
@media (max-width: 550px) {
  .filters input,
  .filters select {
    padding: 5px;
  }
  .ticket-header h2 {
    font-size: 30px;
  }

  .ticket-header button {
    font-size: 16px;
  }

  .filters {
    padding: 10px 3px;
  }
}

/**----------------------- form code*/

.ticket-form {
  margin-top: 120px;
  max-width: 400px;
  border: 2px solid #616161;
  background-color: rgb(31, 31, 31);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 18px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.8);
  z-index: 50;
}
.ticket-form h2 {
  margin-bottom: 10px;
  font-size: 40px;
  font-weight: 500;

  color: #616161;
}
.form-group {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 20px;
}
.form-group label {
  color: #787878;
  margin-bottom: 5px;
}

.ticket-form .input:hover {
  box-shadow:
    0 2px 0 #000,
    0 6px 10px rgba(0, 0, 0, 0.5);
  transform: translateY(-1px);
  transition: all 0.2s ease;
}

.ticket-form .input:focus {
  outline: 1px solid #616161;
  outline-offset: 2px;
  transform: translateY(-3px);
}

.ticket-form .input {
  padding: 0 10px;
  width: 350px;
  height: 40px;
  background-color: rgba(42, 42, 42);
  border: 2px solid #3b3b3b;
  border-radius: 8px;
  color: #787878;
  font-size: 15px;
}
.input.desc {
  height: 60px;
}

.input.desc::-webkit-scrollbar {
  display: none;
}
.ticket-form .actions {
  width: 150px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.ticket-form .actions button {
  height: 30px;
}

.ticket-form .actions button.cancel {
  background-color: rgb(31, 31, 31);
}
.ticket-form .actions button.cancel:hover {
  background: #3a3a3a;
}

@media (max-width: 480px) {
  .ticket-form .input {
    padding-left: 5px;
    width: 250px;
    height: 30px;
    font-size: 13px;
  }

  .input.desc {
    height: 50px;
  }
}

/**----------------------- modal code*/

.confirm-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.confirm-modal {
  background: rgb(31, 31, 31);
  padding: 20px 24px;
  border-radius: 12px;
  width: 300px;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
}

.modal-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

.confirm-btn {
  background-color: #e53935;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s ease;
}

.cancel-btn {
  background-color: #ccc;
  color: black;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s ease;
}

.confirm-btn:hover {
  background-color: #d32f2f;
}

.cancel-btn:hover {
  background-color: #b0b0b0;
}
